body {
	margin: 0;
	background-color: #fcd1b8;
	color: #c6805b;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

h1 {
	font-size: 18px;
	line-height: 10px;
}

mark {
	background-color: #e8b295;
	color: black;
	font: bold;
	border-radius: 2px;
	padding: 5px;
  }

button {
	font-size: 15px;
	background-color: #fcd1b8;
	border: 2px solid #e8b295;
	border-radius: 10px;
	cursor: pointer;
	color: #c6805b;
	padding: 5px;
	text-align: center;
	display: inline-block;
}

#moveButtons {
	width: 160px;
	height: 240px;
	line-height: 35px;
	position: absolute;
	right: 20px;
	top: 20%;
	padding: 10px;
	border: 2px solid #e8b295;
	border-radius: 10px;
	align-items: center;
	background-color: #ffe8dc;
}

#basicMoves {
	width: 160px;
	right: 9px;
	position: absolute;
}

#basicMoves button {
	background-color: #ffe8dc;
}

#leftMoves {
	width: 160px;
	display: none;
}

#bottomMoves {
	display: none;
}

#moreMoves {
	position: relative;
	top: 225px
}

.move {
	width: 50px;
	height: 30px;
}

#progressBar {
	position: absolute;
	bottom: 20%;
	text-align: center;
	height: 20px;
	border-radius:10px;
	left: 30%;
	right: 30%;
}

#progress {
	border: 2px solid #e8b295;
	background-color: #e8b295;
	position: absolute;
	border-radius:20px;
	width: 20px;
}

#bar {
	border: 2px solid #e8b295;
	background-color: #fcd1b8;
	border-radius:20px;
}

#scrambleSolve {
	position: absolute;
	bottom: 10%;
	text-align: center;
	width: 100%;
}

#scrambleSolve button{
	font-weight: bold;
	width: 150px;
	height: 30px;
}

#scrambleSolve .stepButton{
	font-weight: bold;
	width: 30px;
	height: 30px;
}

#leftMenu {
	width: 200px;
	top: 20%;
	position: absolute;
	line-height: 35px;
}

#leftMenu button {
	width: 150px;
	font-size: 13px;
	text-align: left;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#scrambleForm {
	position: absolute;
	top: 10%;
	text-align: center;
	width: 100%;
	display: none;
}

#solutionDisplay {
	position: absolute;
	top: 10%;
	text-align: center;
	left: 25%;
	right: 25%;
}

#solutionText {
	display: none;
}

#solutionExplanation {
	display: none;
	font-size: 18px;
}

#playPause {
	display: none;
}

#howTo {
	position: absolute;
	top: 10%;
	text-align: center;
	left: 10%;
	right: 10%;
	background-color: #fcd1b8;
	border: 2px solid #e8b295;
	border-radius: 20px;
	padding: 15px;
	display: none;
}