/*
=========================================================================================
Whole page rules
=========================================================================================
*/

body {
	margin: 0;
	background-color: #fcd1b8;
	color: #c6805b;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

h1 {
	font-size: 18px;
	line-height: 10px;
}

mark {
	background-color: #e8b295;
	color: black;
	font: bold;
	border-radius: 2px;
	padding: 5px;
}

button {
	font-size: 15px;
	background-color: #fcd1b8;
	border: 2px solid #e8b295;
	border-radius: 10px;
	cursor: pointer;
	color: #c6805b;
	padding: 5px;
	text-align: center;
	display: inline-block;
}

/*
=========================================================================================
Things that appear on the right of the page
=========================================================================================
*/

/* move button menu */

#moveButtons {
	width: 160px;
	height: 240px;
	line-height: 35px;
	position: absolute;
	right: 20px;
	top: 20%;
	padding: 10px;
	border: 2px solid #e8b295;
	border-radius: 10px;
	align-items: center;
	background-color: #ffe8dc;
}

#basicMoves {
	width: 160px;
	right: 9px;
	position: absolute;
}

#basicMoves button {
	background-color: #ffe8dc;
}

#leftMoves {
	width: 160px;
	display: none;
}

#bottomMoves {
	display: none;
}

#moreMoves {
	position: relative;
	top: 225px
}

.move {
	width: 50px;
	height: 30px;
}

/*
=========================================================================================
Things that appear at the bottom of the page
=========================================================================================
*/

/* two bars (progress and slider)'s div container */

#bottomBars {
	position: absolute;
	bottom: 15%;
	text-align: center;
	left: 30%;
	right: 30%;
	line-height: 30px;
}

/* progress bar */

#progressBar {
	border-radius:10px;
}

#progress {
	border: 2px solid #e8b295;
	background-color: #e8b295;
	position: absolute;
	border-radius:20px;
	width: 20px;
	height: 20px;
}

#bar {
	border: 2px solid #e8b295;
	background-color: #fcd1b8;
	border-radius:20px;
	height: 20px;
	width: 100%;
}

/* speed slider */

.slider {
	appearance: none;
	width: 100%;
	height: 20px; 
	background-color: #fcd1b8;
	border: 2px solid #e8b295;
	border-radius:20px;
}
  
.slider::-webkit-slider-thumb {
	appearance: none;
	width: 20px;
	height: 20px;
	background: #e8b295;
	border-radius: 10px;
}

/* buttons at the bottom */

#scrambleSolve {
	position: absolute;
	bottom: 10%;
	text-align: center;
	width: 100%;
}

#scrambleSolve button{
	font-weight: bold;
	width: 150px;
	height: 30px;
}

#scrambleSolve .stepButton{
	font-weight: bold;
	width: 30px;
	height: 30px;
}

#playPause {
	display: none;
}

/*
=========================================================================================
Things that appear on the left of the page
=========================================================================================
*/

#leftMenu {
	width: 200px;
	top: 20%;
	position: absolute;
	line-height: 35px;
}

#leftMenu button {
	width: 150px;
	font-size: 13px;
	text-align: left;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/*
=========================================================================================
Pop ups
=========================================================================================
*/

/* scramble input */

#scrambleForm {
	position: absolute;
	top: 10%;
	text-align: center;
	width: 100%;
	display: none;
}

/* solution that appears in the middle */

#solutionDisplay {
	position: absolute;
	top: 10%;
	text-align: center;
	left: 25%;
	right: 25%;
}

#solutionText {
	display: none;
}

#solutionExplanation {
	display: none;
	font-size: 18px;
}

/* help static pop ups */

#howTo {
	position: absolute;
	top: 10%;
	text-align: left;
	left: 10%;
	right: 10%;
	background-color: #ffe8dc ;
	border: 2px solid #e8b295;
	border-radius: 20px;
	padding: 15px;
	display: inline;
}

#notationPopup {
	position: absolute;
	top: 10%;
	right: 10%;
	text-align: left;
	left: 10%;
	background-color: #ffe8dc;
	border: 2px solid #e8b295;
	border-radius: 20px;
	padding: 15px;
	display: none;
}