body {
	margin: 0;
	background-color: #fcd1b8;
	color: #c6805b;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

h1 {
	font-size: 18px;
	padding:0;
}

button {
	background-color: #fcd1b8;
	border: 2px solid #e8b295;
	border-radius: 10px;
	cursor: pointer;
	color: #c6805b;
	padding: 5px;
	text-align: center;
	display: inline-block;
}

#moveButtons {
	width: 160px;
	line-height: 35px;
	position: absolute;
	left: 80%;
	top: 20%;
	padding: 10px;
	border: 2px solid #e8b295;
	border-radius: 10px;
	align-items: center;
	background-color: #ffe8dc;
}

#moveButtons button {
	font-size: 15px;
	width: 50px;
	height: 30px;
}

#scrambleSolve {
	position: absolute;
	bottom: 10%;
	text-align: center;
	width: 100%;
}

#scrambleSolve button{
	font-size: 15px;
	font-weight: bold;
	width: 150px;
	height: 30px;
}

#inputScramble {
	font-size: 13px;
	width: 150px;
	height: 25px;
	top: 20%;
	position: absolute;
	text-align: left;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#scrambleForm {
	position: absolute;
	top: 10%;
	text-align: center;
	width: 100%;
}